# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.builder/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/
/android/build/reports/problems
/build/web/assets/*
/build/web/canvaskit/*
/build/web/icons/*
!build/web/.last_build_id
/build/flutter_assets/*
/build/native_assets/*
/build/native_hooks/*
/build/app.dill
/build/*.dill
/build/3283402330b728b9b8bb09cfa1b18c5f/*
/build/windows/*


# Symbolication related

app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

*linux/
*macos/
*ios/

